Repository powsybl/powsybl-open-rao, pull requests merged in 2025-06, with the labels that each got.

#1355 Min margin parameters for costly optimization
  docs/parameters.md
  docs/parameters/business-parameters.md
  docs/parameters/implementation-specific-parameters.md
  ra-optimisation/rao-api/src/main/java/com/powsybl/openrao/raoapi/RaoParametersCommons.java
  ra-optimisation/rao-api/src/main/java/com/powsybl/openrao/raoapi/json/extensions/JsonMinMarginsParameters.java
  ra-optimisation/rao-api/src/main/java/com/powsybl/openrao/raoapi/json/extensions/JsonOpenRaoSearchTreeParameters.java
  ra-optimisation/rao-api/src/main/java/com/powsybl/openrao/raoapi/parameters/extensions/OpenRaoSearchTreeParameters.java
  ra-optimisation/rao-api/src/main/java/com/powsybl/openrao/raoapi/parameters/extensions/OpenRaoSearchTreeParametersConfigLoader.java
  ra-optimisation/rao-api/src/main/java/com/powsybl/openrao/raoapi/parameters/extensions/SearchTreeRaoCostlyMinMarginParameters.java
  ra-optimisation/rao-api/src/test/java/com/powsybl/openrao/raoapi/json/JsonRaoParametersTest.java
  ra-optimisation/rao-api/src/test/java/com/powsybl/openrao/raoapi/parameters/RaoParametersConfigTest.java
  ra-optimisation/rao-api/src/test/java/com/powsybl/openrao/raoapi/parameters/RaoParametersYamlConfigTest.java
  ra-optimisation/rao-api/src/test/resources/RaoParametersSet_v2.json
  ra-optimisation/rao-api/src/test/resources/RaoParameters_config_withExtensions.json
  ra-optimisation/rao-api/src/test/resources/config_withExtensions.yml
  ra-optimisation/search-tree-rao/src/main/java/com/powsybl/openrao/searchtreerao/commons/FlowCnecSorting.java
  ra-optimisation/search-tree-rao/src/main/java/com/powsybl/openrao/searchtreerao/commons/objectivefunction/InitialSensitivityAnalysisObjectiveFunctionCreator.java
  ra-optimisation/search-tree-rao/src/main/java/com/powsybl/openrao/searchtreerao/commons/objectivefunction/ObjectiveFunctionCreator.java
  ra-optimisation/search-tree-rao/src/main/java/com/powsybl/openrao/searchtreerao/commons/objectivefunctionevaluator/MinMarginViolationEvaluator.java
  ra-optimisation/search-tree-rao/src/main/java/com/powsybl/openrao/searchtreerao/linearoptimisation/algorithms/ProblemFillerHelper.java
  ra-optimisation/search-tree-rao/src/main/java/com/powsybl/openrao/searchtreerao/linearoptimisation/algorithms/fillers/MaxMinMarginFiller.java
  ra-optimisation/search-tree-rao/src/main/java/com/powsybl/openrao/searchtreerao/linearoptimisation/algorithms/fillers/MaxMinRelativeMarginFiller.java
  ra-optimisation/search-tree-rao/src/main/java/com/powsybl/openrao/searchtreerao/linearoptimisation/algorithms/linearproblem/LinearProblem.java
  ra-optimisation/search-tree-rao/src/main/java/com/powsybl/openrao/searchtreerao/linearoptimisation/algorithms/linearproblem/LinearProblemIdGenerator.java
  ra-optimisation/search-tree-rao/src/main/java/com/powsybl/openrao/searchtreerao/linearoptimisation/parameters/IteratingLinearOptimizerParameters.java
  ra-optimisation/search-tree-rao/src/main/java/com/powsybl/openrao/searchtreerao/marmot/Marmot.java
  ra-optimisation/search-tree-rao/src/main/java/com/powsybl/openrao/searchtreerao/searchtree/algorithms/Leaf.java
  ra-optimisation/search-tree-rao/src/main/java/com/powsybl/openrao/searchtreerao/searchtree/parameters/SearchTreeParameters.java
  ra-optimisation/search-tree-rao/src/test/java/com/powsybl/openrao/searchtreerao/commons/objectivefunction/ObjectiveFunctionTest.java
  ra-optimisation/search-tree-rao/src/test/java/com/powsybl/openrao/searchtreerao/commons/objectivefunctionevaluator/MinMarginViolationEvaluatorTest.java
  ra-optimisation/search-tree-rao/src/test/java/com/powsybl/openrao/searchtreerao/linearoptimisation/algorithms/LinearProblemBuilderTest.java
  ra-optimisation/search-tree-rao/src/test/java/com/powsybl/openrao/searchtreerao/linearoptimisation/algorithms/fillers/MaxMinMarginFillerTest.java
  ra-optimisation/search-tree-rao/src/test/java/com/powsybl/openrao/searchtreerao/linearoptimisation/algorithms/fillers/MaxMinRelativeMarginFillerTest.java
  ra-optimisation/search-tree-rao/src/test/java/com/powsybl/openrao/searchtreerao/linearoptimisation/algorithms/fillers/UnoptimizedCnecFillerMarginDecreaseRuleTest.java
  ra-optimisation/search-tree-rao/src/test/resources/parameters/RaoParameters_dc_minObjective.json
  ra-optimisation/search-tree-rao/src/test/resources/parameters/RaoParameters_dc_minObjective_discretePst.json
  ra-optimisation/search-tree-rao/src/test/resources/parameters/RaoParameters_minCost_megawatt_dc.json
  ra-optimisation/search-tree-rao/src/test/resources/parameters/RaoParameters_secure.json
  tests/src/test/resources/files/configurations/common/RaoParameters_default.json
  tests/src/test/resources/files/configurations/epic10/RaoParameters_relMargin_megawatt.json
  tests/src/test/resources/files/configurations/epic92/RaoParameters_dc_minObjective.json
  tests/src/test/resources/files/configurations/epic92/RaoParameters_dc_minObjective_discretePst.json
  tests/src/test/resources/files/configurations/epic92/RaoParameters_dc_minObjective_discretePst_2P.json
  tests/src/test/resources/files/configurations/epic92/RaoParameters_dc_minObjective_maxDepth1.json
  tests/src/test/resources/files/configurations/epic92/RaoParameters_margin_dc_minObjective.json
  tests/src/test/resources/files/configurations/epic93/RaoParameters_minCost_megawatt_dc.json
Labels: PR: waiting-for-correction, parameters

#1374 ICS parameters in FB constraint creation parameters
  data/crac/crac-io/crac-io-fb-constraint/src/main/java/com/powsybl/openrao/data/crac/io/fbconstraint/parameters/FbConstraintCracCreationParameters.java
  data/crac/crac-io/crac-io-fb-constraint/src/main/java/com/powsybl/openrao/data/crac/io/fbconstraint/parameters/JsonFbConstraintCracCreationParameters.java
  data/crac/crac-io/crac-io-fb-constraint/src/test/java/com/powsybl/openrao/data/crac/io/fbconstraint/parameters/JsonFbConstraintCracCreationParametersTest.java
  data/crac/crac-io/crac-io-fb-constraint/src/test/resources/parameters/fbconstraint-crac-creation-parameters_ok.json
Labels: feature, PR: waiting-for-review, intertemporality, native-crac, fb-constraint

#1389 Replace old ContingencyElement.of by ContingencyElementFactory.create
  data/crac/crac-impl/src/test/java/com/powsybl/openrao/data/crac/impl/ContingencyTest.java
  data/crac/crac-io/crac-io-cim/src/main/java/com/powsybl/openrao/data/crac/io/cim/craccreator/CimContingencyCreator.java
  data/crac/crac-io/crac-io-commons/src/main/java/com/powsybl/openrao/data/crac/io/commons/ucte/UcteContingencyElementHelper.java
  data/crac/crac-io/crac-io-fb-constraint/src/main/java/com/powsybl/openrao/data/crac/io/fbconstraint/OutageReader.java
  data/crac/crac-io/crac-io-json/src/main/java/com/powsybl/openrao/data/crac/io/json/deserializers/ContingencyArrayDeserializer.java
  data/crac/crac-io/crac-io-nc/src/main/java/com/powsybl/openrao/data/crac/io/nc/craccreator/contingency/NcContingencyCreator.java
  data/crac/crac-util/src/test/java/com/powsybl/openrao/data/crac/util/CracValidatorTest.java
  docs/input-data/crac/json.md
Labels: Release 06/2025
